{% extends "layout.html" %}
{% block body %}
<div class="row">
  <div class="col-md-6">
    <img src="\static\SouthIndianMasala.jpg" class="img-thumbnail" alt="Responsive image">
  </div>
  <div class="col-md-6">
    <h4>About Us</h4>
    The Thalappakatti Biriyani Hotel’s roots can be traced all the way back to 1957. Founded by Mr. Nagasamy Naidu under the name Anandha Vilas Biriyani Hotel in Dindigul. He always wore a turban called THALAPA(a traditional head dress), which over the years became synonymous with his brand and cooking styles, leading him to earn the nick name “Thalappakatti Naidu” which would eventually became the name of our brand and restaurants.
Right from the beginning, he always emphasized on taste and ensured that the Biriyani made at his hotel was both delicious and unique. This was achieved and still is by meticulous selection of ingredients prepared from quality masala products. Biriyani was prepared using superior quality Seeraga samba rice, known as Parakkum sittu and meat obtained from top-class breeds of cattle particularly found in the famous cattle-markets of Kannivadi and Paramathi.
  </div>
</div>

{% endblock %}