{% extends "layout.html" %}

{% block body %}

<div table-responsive-sm>
  <table class="table table-striped table-bordered text-center">
    <thead>
      <tr class="table-info">
        <th scope="col">Day</th>
        <th scope="col">Breakfast</th>
        <th scope="col">Lunch</th>
        <th scope="col">Dinner</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Monday</th>
        <td>Idli and Sambar</td>
        <td>Vegetable Briyani</td>
        <td>Chapathi and Veg Curry</td>
      </tr>
      <tr>
        <th scope="row">Tuesday</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">Wednesday</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">Thursday</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">Friday</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">Saturday</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">Sunday</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>

    </tbody>
  </table>

</div>
{% endblock %}