{% extends "layout.html" %}
{% block title %}
Flights
{% endblock %}

{% block body %}
  <h1> Book a Flight</h1>
  <form action ="{{ url_for('book')}}" method="Post">
    <div class="form_group">
      <select class="form_control" name="flight_id">
          {% for flight in flights %}  
                <option value="{{flight.id}}">{{flight.origin}} to {{flight.destination}}</option>
          {% endfor %}
      </select>   
    </div>
    
    <div class="form_group">
        <input class="form_control" name="name" placeholder="Passenger Name">
    </div>   
    
    <div class="form_group">
        <button class="btn btn_primary">Book Flight</button>
    </div> 
    {% endblock %}
  </form>               